09_final_project/mnist_train.csv
09_final_project/mnist_test.csv
09_final_project/.ipynb_checkpoints/
09_final_project/mnist_train.csv
09_final_project/mnist_test.csv
09_final_project/.ipynb_checkpoints/
